pkgname=i3lock
pkgver=1.0
pkgrel=3
pkgdesc="A slightly improved version of slock"
arch=('i686' 'x86_64')
url="http://i3.zekjur.net/i3lock/"
license=('MIT')
depends=('libxext' 'pam')
options=('docs')
source=(http://i3.zekjur.net/i3lock/$pkgname-$pkgver.tar.gz)
md5sums=('27db4766271d0c7ea3bbb14ac7b9932c')

